In [1]:
import numpy as np
import pandas as pd
import csv
import json
import math

# Suppressing scientific notation in pandas? - Stack Overflow
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [2]:
# f_main = r'C:\Users\Layla_Sun\Desktop\for_Work\traffic safety report 2021\FARS data'
f_main = r'E:\GIS_Data\Layla2019_NHTS_backup\internal_task\jan2021_traffic safety data report\fars data'

# accident, pbtype, person, vehicle
f_acci16 = f_main + '\\' + 'ACCIDENT16.csv'
f_acci17 = f_main + '\\' + 'ACCIDENT17.csv'

f_pbtype16 = f_main + '\\' + 'PBTYPE16.csv'
f_pbtype17 = f_main + '\\' + 'PBTYPE17.csv'

f_per16 = f_main + '\\' + 'PERSON16.csv'
f_per17 = f_main + '\\' + 'PERSON17.csv'

f_veh16 = f_main + '\\' + 'VEHICLE16.csv'
f_veh17 = f_main + '\\' + 'VEHICLE17.csv'

bikeped16 = pd.read_csv(f_pbtype16)
bikeped17 = pd.read_csv(f_pbtype17)

per16 = pd.read_csv(f_per16)
per17 = pd.read_csv(f_per17)

acci16 = pd.read_csv(f_acci16)
acci17 = pd.read_csv(f_acci17)
acci16.head()

,STATE,ST_CASE,VE_TOTAL,VE_FORMS,PVH_INVL,PEDS,PERNOTMVIT,PERMVIT,PERSONS,COUNTY,...,NOT_MIN,ARR_HOUR,ARR_MIN,HOSP_HR,HOSP_MN,CF1,CF2,CF3,FATALS,DRUNK_DR
0,1,10001,1,1,0,0,0,1,1,73,...,31,9,36,88,88,0,0,0,1,1
1,1,10002,1,1,0,0,0,2,2,73,...,99,20,5,99,99,0,0,0,1,1
2,1,10003,2,1,1,0,1,1,2,73,...,99,2,31,88,88,0,0,0,1,0
3,1,10004,1,1,0,0,0,1,1,73,...,99,21,57,99,99,0,0,0,1,1
4,1,10005,1,1,0,0,0,1,1,73,...,7,20,10,88,88,0,0,0,1,0

In [3]:
# import files 2016&2017
veh16 = pd.read_csv(f_veh16)
veh17 = pd.read_csv(f_veh17)

C:\Users\MSRT_GIS\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (36,37,102) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\MSRT_GIS\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (101,102) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
# 4/2016-4/2017; no states 43 and 52
veh16_trim = veh16[(veh16['MONTH'] >= 4) & (veh16['STATE'] != 43) & (veh16['STATE'] != 52)]
veh17_trim = veh17[(veh17['MONTH'] <= 4) & (veh17['STATE'] != 43) & (veh17['STATE'] != 52)]

In [5]:
# recode for vehicle type
def veh_type(row):
    r = row['BODY_TYP']
    if r >= 1 and r <= 10:
        return '1-Auto'
    elif r in [14,15,16,17,19]:
        return '3-SUV'
    elif r in [20,21,22,28,29]:
        return '2-Van'
    elif r in [30,31,32,34,39,49]:
        return '4-Pickup Truck'
    elif r in [80,81,82,83,84,85,88,89]:
        return '7-Motorcycle'
    else:
        return '9-Other'

In [6]:
# combine veh16_trim and veh2017_trim
veh1617_trim = veh16_trim.append(veh17_trim)
veh1617_trim['VEH_TYPE'] = veh1617_trim.apply(veh_type, axis = 1)
len(veh1617_trim)

57413

In [7]:
# export to file
f_veh_res = r'E:\GIS_Data\Layla2019_NHTS_backup\internal_task\jan2021_traffic safety data report\fars data\output tables\veh_57413_vehtyp.csv'
veh1617_trim.to_csv(f_veh_res)